# Directories to be ignored:
/zomato-app/node_modules/
/zomatoApi/node_modules/

# Files to be ignored:
/zomato-app/package-lock.json
/zomatoApi/package-lock.json
/zomato-app/package.json
/zomatoApi/package.json

